<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>MODELES ATTESTATIONS</h2>
        <ol class="breadcrumb">
            <li><a>ATTESTATIONS</a> </li>
            <li class="active"><strong>@ViewBag.TITRE_PAGE</strong> </li>
        </ol>
    </div>
    <div class="col-lg-2">
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    @using (Html.BeginForm("SendFormModele", "Attestation", new { Mode = ViewBag.Mode, Code = ViewBag.Code }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {

        <div class="row">
            <div class="col-lg-12">
                <div class="form-group">
                    <label class="col-lg-4 control-label" style="padding-left: 0px; text-align: initial;">
                        TITRE</label>
                    <div class="col-lg-8">
                        <input type="text" class="form-control" name="TITRE" id="TITRE" required value="@Model.TITRE">
                    </div>
                </div>
            </div>
        </div>
        <div class="row pull-right" style="margin-right: 15px; margin-top: 15px;">
            <button type="submit" class="btn btn-w-m btn-success" id="Valider"><i class="fa fa-check-square-o" aria-hidden="true"></i>Valider</button>
        </div>
    }
</div>

