<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Téléchargement</h2>
        <ol class="breadcrumb">
            <li><a>DEMANDES DE PRÊTS</a> </li>
            <li class="active"><strong>Téléchargement</strong></li>
        </ol>
    </div>
    <div class="col-lg-2">
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h5 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" class="collapsed">MODELE</a>
                        </h5>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                        <div class="panel-body">
                            <p>Fichier Excel modele pour la saisie des prêts</p>
                            <p><a href='@Url.Action("GetFile", "Pret")'><span class="badge badge-primary">Télécharger</span></a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

